<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
	<servlet>
		<description></description>
		<display-name>EngineCareAppointmentServlet</display-name>
		<servlet-name>EngineCareAppointmentServlet</servlet-name>
		<servlet-class>com.Service.EngineCareAppointmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EngineCareAppointmentServlet</servlet-name>
		<url-pattern>/EngineCareAppointmentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AccidentRepairAppointmentServlet</display-name>
		<servlet-name>AccidentRepairAppointmentServlet</servlet-name>
		<servlet-class>com.Service.AccidentRepairAppointmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccidentRepairAppointmentServlet</servlet-name>
		<url-pattern>/AccidentRepairAppointmentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WashingServiceAppointmentServlet</display-name>
		<servlet-name>WashingServiceAppointmentServlet</servlet-name>
		<servlet-class>com.Service.WashingServiceAppointmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WashingServiceAppointmentServlet</servlet-name>
		<url-pattern>/WashingServiceAppointmentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>updateServiceAppointmentsServlet</display-name>
		<servlet-name>updateServiceAppointmentsServlet</servlet-name>
		<servlet-class>com.Service.updateServiceAppointmentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateServiceAppointmentsServlet</servlet-name>
		<url-pattern>/updateServiceAppointmentsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>deleteServiceAppointmentsServlet</display-name>
		<servlet-name>deleteServiceAppointmentsServlet</servlet-name>
		<servlet-class>com.Service.deleteServiceAppointmentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServiceAppointmentsServlet</servlet-name>
		<url-pattern>/deleteServiceAppointmentsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>feedbackServlet</display-name>
		<servlet-name>feedbackServlet</servlet-name>
		<servlet-class>com.feedback.feedbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>feedbackServlet</servlet-name>
		<url-pattern>/feedbackServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>updateFeedbackServlet</display-name>
		<servlet-name>updateFeedbackServlet</servlet-name>
		<servlet-class>com.feedback.updateFeedbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateFeedbackServlet</servlet-name>
		<url-pattern>/updateFeedbackServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>deleteFeedbackServlet</display-name>
		<servlet-name>deleteFeedbackServlet</servlet-name>
		<servlet-class>com.feedback.deleteFeedbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteFeedbackServlet</servlet-name>
		<url-pattern>/deleteFeedbackServlet</url-pattern>
	</servlet-mapping>
</web-app>