@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Archivo+Narrow:wght@600&family=Athiti:wght@600&display=swap");
* {
  background: rgb(255, 255, 255);
}

.logo {
  position: absolute;
  font-family: "Agdasima", sans-serif;
  font-size: 24pt;
  margin-left: 50px;
}

i {
  position: absolute;
  margin-left: 20px;
  margin-top: 16px;
}

.firstPart {
  position: relative;
  height: 270px;
  background-color: rgb(175, 8, 8);
  border-radius: 6px;
}

.SecondSession {
  position: relative;
  margin-top: 220px;
  height: 1550px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.diagonal-split {
  position: relative;
  height: 220px;
  background-color: rgb(245, 245, 245);
}
.diagonal-split:after {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(199, 11, 11);
  transform-origin: left top;
  transform: skewY(-6deg);
  border-radius: 6px;
}
.diagonal-split1 {
  position: relative;
  height: 400px;
  background-color: rgb(224, 224, 224);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.diagonal-split2 {
  position: relative;
  height: 605px;
  background-color: rgb(224, 224, 224);
  transform-origin: left bottom;
}
.diagonal-split2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(199, 11, 11);
  transform: skewY(-7deg);
  height: 90px;
  z-index: 20;
}

.diagonal-split3 {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      110deg,
      rgb(212, 0, 0, 0.9) 40%,
      rgb(255, 255, 255, 0.2) 10%
    ),
    url("../images/SubEnginecare.png");
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  border-radius: 10px;
}

.diagonal-split4 {
  position: relative;
  height: 480px;
  background-color: rgb(224, 224, 224);
  transform-origin: left bottom;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.diagonal-split4:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(199, 11, 11);
  transform: skewY(-7deg);
  height: 110px;
  z-index: 20;
}

.banner {
  background-color: rgb(212, 0, 0, 0.001);
  transform: translate(-108%, 0%);
  color: #ffffff;
  display: flex;
  justify-content: start;
  padding: 10px;
  font-weight: bold;
  font-family: "Athiti", sans-serif;
  font-size: 70px;
}

.navBar {
  margin-left: auto;
  width: 700px;
}

.animPosition {
  display: relative;
  margin: auto;
  border: 4px solid black;
}

.navBar nav {
  /* overflow: hidden; */
  list-style-type: none;
  margin: 10px auto;
  height: 50px;
}

.navBar nav {
  background-color: rgba(204, 204, 204, 0.788);
  padding: 7px 1px 12px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 15px;
  text-decoration: none;
  position: relative;
  text-align: center;
}

.navBar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-right: 6px;
  padding-left: 6px;
  font-family: "Fira Sans", sans-serif;
  display: inline-block;
  position: relative;
}

/* start of nav animation */

nav .animation {
  position: absolute;
  height: 5px;
  /* height: 5px; */
  bottom: 4px;
  /* bottom: 0; */
  z-index: 0;
  background: #c70000;
  width: 100px;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
  margin-bottom: 6px;
}
a:nth-child(1) {
  width: 120px;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 70px;
  left: 60px;
}
a:nth-child(2) {
  width: 120px;
}
nav .start-services,
a:nth-child(2):hover ~ .animation {
  width: 96px;
  left: 172px;
}
a:nth-child(3) {
  width: 120px;
}
nav .start-Packages,
a:nth-child(3):hover ~ .animation {
  width: 106px;
  left: 290px;
}
a:nth-child(4) {
  width: 130px;
}
nav .aboutUs,
a:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 422px;
}
a:nth-child(5) {
  width: 120px;
}
nav .contactUs,
a:nth-child(5):hover ~ .animation {
  width: 120px;
  left: 542px;
}

.backBox {
  width: 85%;
  max-width: 1475px;
  height: 430px;
  border: 1px solid black;
  margin-top: 120px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  position: absolute;
  z-index: 20;
  transform: translate(9%, -80%);
}

.Sessions {
  width: 85%;
  margin: auto;
  position: absolute;
  transform: translate(8.9%, -102%);
  border-radius: 10px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

form {
  position: absolute;
  transform: translate(90%,-101.5%);
  padding: 20px;
  background-color:#cacaca;
  border-radius: 10px;
}

h1{
margin-bottom: 20px;
}

h1 {
  text-align: center;
}

.row {
  margin-bottom: 10px;
}

label {
  display: block;
  margin: 10px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px;
}

select {
  height: 30px;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.checkbox-group {
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="checkbox"] + label {
  display: inline-block;
}

.checkbox-group {
  text-align: left;
  margin: 20px auto;
}

/* .checkbox-group {
    margin-bottom: 5px;
  } */

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="checkbox"] + label {
  display: inline-block;
}

/* Set the checkbox size */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* Set the checkbox color */
input[type="checkbox"] {
  background-color: #cacaca;
  border: 1px solid #ccc;
}

/* Set the checkbox checked color */
input[type="checkbox"]:checked {
  background-color: #000;
  border: 1px solid #000;
}

.Footer {
  position: static;
  height: 270px;
  background-color: rgb(175, 8, 8);
  border-radius: 6px;
  margin-top: 18px;
}
